{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
{% block title %}
    cart
{% endblock title %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#f7858d">
<meta name="msapplication-navbutton-color" content="#f7858d">
<meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
<title>didikala | Register Page</title>
<!-- Font Icon -->
<link rel="stylesheet" href= "{% static 'assets/css/vendor/font-awesome.min.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/vendor/materialdesignicons.min.css'%}">
<!-- Bootstrap -->
<link rel="stylesheet" href= "{% static 'assets/css/vendor/bootstrap.min.css'%}">
<!-- Plugins -->
<link rel="stylesheet" href= "{% static 'assets/css/vendor/bootstrap-slider.min.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/vendor/owl.carousel.min.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/vendor/jquery.horizontalmenu.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/vendor/jquery-stack-menu.min.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/vendor/fancybox.min.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/vendor/nice-select.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/vendor/nouislider.min.css'%}">
<!-- Main CSS File -->
<link rel="stylesheet" href= "{% static 'assets/css/main.css'%}">
<link rel="stylesheet" href= "{% static 'assets/css/colors/default.css'%}" id="colorswitch">
{% endblock head %}
  

{% block body %}
<div class="wrapper">
    <!-- Start header -->
   
    <!-- End header -->
    <!-- Start main-content -->
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row mx-0">
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 mb-2">
                    <nav class="tab-cart-page">
                        <div class="nav nav-tabs border-bottom" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link d-inline-flex w-auto active" id="nav-home-tab"
                                data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                aria-selected="true">سبد خرید<span class="count-cart">{{nums}}</span></a>
                        </div>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-xl-9 col-lg-8 col-12 px-0">
                                    <div class="table-responsive checkout-content dt-sl">
                                        <div class="checkout-header checkout-header--express">
                                            <span class="checkout-header-title">ارسال عادی</span>
                                            <span class="checkout-header-extra-info">({{nums}} کالا)</span>
                                        </div>
                                        {% for c in cart %}
                                        <div class="checkout-section-content-dd-k">
                                            
                                            <div class="cart-items-dd-k">
                                                <div class="cart-item py-4 px-3">
                                                    <div class="item-thumbnail">
                                                        <a href="#">
                                                            <img src="{{c.product.image.url}}" alt="item">
                                                        </a>
                                                    </div>
                                                    <div class="item-info flex-grow-1">
                                                        <div class="item-title">
                                                            <h2>
                                                                <a href="#">
                                                                    {{c.product.name}} </a>
                                                            </h2>
                                                        </div>
                                                        <div class="item-detail">
                                                            <ul>
                                                                <li>
                                                                    <span>{{c.variants.color_variant.name}}</span>
                                                                </li>
                                                                
                                                                
                                                                
                                                            </ul>
                                                            <div class="item-quantity--item-price">
                                                                <div class="item-quantity">
                                                                    <div class="num-block">
                                                                        <div class="num-in">
                                                                            <a class='plus' href="{% url 'cart:add_single' c.id %}"><span class="plus"></span></a>
                                                                                <input type="text" class="in-num"
                                                                                    value="{{c.quantity}}" readonly>
                                                                            <a class='minus dis' href="{% url 'cart:remove_single' c.id %}" " ><span  class="minus dis"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <a class="item-remove-btn mr-3" href="{% url "cart:remove_cart" c.id %}">
                                                                        <i class="far fa-trash-alt"></i>
                                                                        حذف
                                                                    </a>
                                                                </div>
                                                                <div class="item-price">
                                                                    {% if  c.product.status != 'None' %}
                                                                       {% widthratio c.variants.total_price 1 c.quantity %}
                                                                    {% else %}
                                                                       {% widthratio c.product.total_price 1 c.quantity %}
                                                                    {% endif %}<span
                                                                        class="text-sm mr-1">تومان</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-12 w-res-sidebar sticky-sidebar">
                                    <div class="dt-sn dt-sn--box border mb-2">
                                        <ul class="checkout-summary-summary">
                                            <li>
                                                <span>مبلغ کل ({{8}} کالا)</span><span>{{total}} تومان</span>
                                            </li>
                                            <li class="checkout-summary-discount">
                                                
                                            </li>
                                            <li>
                                                <span>هزینه ارسال<span class="help-sn" data-toggle="tooltip"
                                                        data-html="true" data-placement="bottom"
                                                        title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده متفاوت باشد. در صورتی که هر یک از مرسولات حداقل ارزشی برابر با ۱۵۰هزار تومان داشته باشد، آن مرسوله بصورت رایگان ارسال می‌شود.<br>'حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر باشد.'</p></div>">
                                                        <span class="mdi mdi-information-outline"></span>
                                                    </span></span><span>20,000</span>
                                            </li>
                                            <li class="checkout-summary-discount">
                                                
                                            </li>
                                            <div class="auth-wrapper form-ui border pt-4">
                                            <form method="post" action="{% url "order:order_create"%}">
                                                {% csrf_token %}
                                                    <div class="form-row-title">
                                                        <h3>ایمیل</h3>
                                                    </div>
                                                    <div class="form-row with-icon">
                                                        <input type="email" class="input-ui pr-2" name="email" value="{{user.email}}"
                                                            placeholder="ایمیل خود را وارد نمایید">
                                                        <i class="mdi mdi-account-circle-outline"></i>
                                                    </div>
                                                    <div class="form-row-title">
                                                        <h3>نام</h3>
                                                    </div>
                                                    <div class="form-row with-icon">
                                                        <input type="text" class="input-ui pr-2" name="f_name" value="{{user.first_name}}"
                                                            placeholder="نام خود را وارد کنید">
                                                        <i class="mdi mdi-account-circle-outline"></i>
                                                    </div>
                                                    
                                                    <div class="form-row-title">
                                                        <h3>نام خانوادگی</h3>
                                                    </div>
                                                    <div class="form-row with-icon">
                                                        <input type="text" class="input-ui pr-2" name="l_name" value="{{user.last_name}}"
                                                            placeholder="نام خانوادگی خود را وارد کنید">
                                                        <i class="mdi mdi-account-circle-outline"></i>
                                                    </div>
                                                    
                                                    <div class="form-row-title">
                                                        <h3>آدرس</h3>
                                                    </div>
                                                    <div class="form-row with-icon">
                                                        <input type="text" class="input-ui pr-2" name="address" value="{{Profile.address}}"
                                                            placeholder="آدرس خود را وارد کنید">
                                                        <i class="mdi mdi-account-circle-outline"></i>
                                                    </div>
                                                    
                                                
                                                <br>
                                                <div class="checkout-summary-content">
                                                    <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                                                    <div class="checkout-summary-price-value">
                                                        <span class="checkout-summary-price-value-amount">{{total}}</span>
                                                        تومان
                                                    </div>
                                                    <a href="#" class="mb-2 d-block">
                                                        <button type="submit" class="btn-primary-cm btn-with-icon w-100 text-center pr-0">
                                                            <i class="mdi mdi-arrow-left"></i>
                                                            ادامه ثبت سفارش
                                                        </button>
                                                    </a>
                                                    <div>
                                                        <span>
                                                            کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                                            مراحل بعدی را تکمیل کنید.
                                                        </span><span class="help-sn" data-toggle="tooltip" data-html="true"
                                                            data-placement="bottom"
                                                            title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش برای شما رزرو می‌شوند. در صورت عدم ثبت سفارش، دیجی‌کالا هیچگونه مسئولیتی در قبال تغییر قیمت یا موجودی این کالاها ندارد.</p></div>">
                                                            <span class="mdi mdi-information-outline"></span>
                                                        </span>
                                                    </div>
                                                </div><br> <br>
                                            </form>
                                            </div>
                                        </ul>
                                        <div class="checkout-summary-devider">
                                            <div></div>
                                        </div>
                                        
                                    </div>
                                    <div class="dt-sn dt-sn--box checkout-feature-aside pt-4">
                                        <ul>
                                            <li class="checkout-feature-aside-item">
                                                <img src="{% static 'assets/img/svg/return-policy.svg'%}" alt="">
                                                هفت روز ضمانت تعویض
                                            </li>
                                            <li class="checkout-feature-aside-item">
                                                <img src="{% static 'assets/img/svg/payment-terms.svg'%}" alt="">
                                                پرداخت در محل با کارت بانکی
                                            </li>
                                            <li class="checkout-feature-aside-item">
                                                <img src="{% static 'assets/img/svg/delivery.svg'%}"alt="">
                                                تحویل اکسپرس
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                            aria-labelledby="nav-profile-tab">
                            <div class="row">
                                <div class="col-xl-9 col-lg-8 col-12 px-0">
                                    <div class="dt-sn dt-sn--box mb-2">
                                        <div class="cart-empty">
                                            <div class="circle-box-icon">
                                                <i class="mdi mdi-cart-remove"></i>
                                            </div>
                                            <p class="cart-empty-title">لیست خرید بعدی شما خالی است!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-12 w-res-sidebar sticky-sidebar">
                                    <div class="dt-sn dt-sn--box border">
                                        <div
                                            class="section-title text-sm-title title-wide mb-1 no-after-title-wide mb-2">
                                            <h2 class="text-dark">لیست خرید بعدی چیست؟</h2>
                                        </div>
                                        <p class="text-secondary">
                                            شما می‌توانید محصولاتی که به سبد خرید
                                            خود افزوده اید و موقتا قصد خرید آن‌ها را ندارید، در لیست خرید بعدی خود
                                            قرار داده و
                                            هر زمان مایل بودید آن‌ها را مجدداً به سبد خرید اضافه کرده و خرید آن‌ها
                                            را تکمیل کنید.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->
    <!-- Start footer -->
    <footer class="main-footer dt-sl">
        <div class="back-to-top">
            <a href="#"><span class="icon"><i class="mdi mdi-chevron-up"></i></span> <span>بازگشت به
                    بالا</span></a>
        </div>
        <div class="container main-container">
            <div class="footer-services">
                <div class="row">
                    <div class="service-item col">
                        <a href="#" target="_blank">
                            <img src="{% static 'assets/img/svg/delivery.svg'%}">
                        </a>
                        <p>تحویل اکسپرس</p>
                    </div>
                    <div class="service-item col">
                        <a href="#" target="_blank">
                            <img src="{% static 'assets/img/svg/contact-us.svg'%}">
                        </a>
                        <p>پشتیبانی 24 ساعته</p>
                    </div>
                    <div class="service-item col">
                        <a href="#" target="_blank">
                            <img src="{% static 'assets/img/svg/payment-terms.svg'%}">
                        </a>
                        <p>پرداخت درمحل</p>
                    </div>
                    <div class="service-item col">
                        <a href="#" target="_blank">
                            <img src="{% static 'assets/img/svg/return-policy.svg'%}">
                        </a>
                        <p>۷ روز ضمانت بازگشت</p>
                    </div>
                    <div class="service-item col">
                        <a href="#" target="_blank">
                            <img src="{% static 'assets/img/svg/origin-guarantee.svg'%}">
                        </a>
                        <p>ضمانت اصل بودن کالا</p>
                    </div>
                </div>
            </div>
            <div class="footer-widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget-menu widget card">
                            <header class="card-header">
                                <h3 class="card-title">راهنمای خرید از تاپ کالا</h3>
                            </header>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">نحوه ثبت سفارش</a>
                                </li>
                                <li>
                                    <a href="#">رویه ارسال سفارش</a>
                                </li>
                                <li>
                                    <a href="#">شیوه‌های پرداخت</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget-menu widget card">
                            <header class="card-header">
                                <h3 class="card-title">خدمات مشتریان</h3>
                            </header>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">پاسخ به پرسش‌های متداول</a>
                                </li>
                                <li>
                                    <a href="#">رویه‌های بازگرداندن کالا</a>
                                </li>
                                <li>
                                    <a href="#">شرایط استفاده</a>
                                </li>
                                <li>
                                    <a href="#">حریم خصوصی</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget-menu widget card">
                            <header class="card-header">
                                <h3 class="card-title">با تاپ کالا</h3>
                            </header>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">فروش در تاپ کالا</a>
                                </li>
                                <li>
                                    <a href="#">همکاری با سازمان‌ها</a>
                                </li>
                                <li>
                                    <a href="#">فرصت‌های شغلی</a>
                                </li>
                                <li>
                                    <a href="#">تماس با تاپ کالا</a>
                                </li>
                                <li>
                                    <a href="#">درباره تاپ کالا</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="newsletter">
                            <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                            <form action="">
                                <input type="email" class="form-control"
                                    placeholder="آدرس ایمیل خود را وارد کنید...">
                                <input type="submit" class="btn btn-primary" value="ارسال">
                            </form>
                        </div>
                        <div class="socials">
                            <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                            <div class="footer-social">
                                <ul class="text-center">
                                    <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                    <li><a href="#"><i class="mdi mdi-telegram"></i></a></li>
                                    <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="row">
                    <div class="col-12 text-right">
                        <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="container main-container">
                <div class="row">
                    <div class="site-description col-12 col-lg-7">
                        <h1 class="site-title">فروشگاه اینترنتی تاپ کالا، بررسی، انتخاب و خرید آنلاین</h1>
                        <p>
                            تاپ کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                            پایبندی به سه اصل کلیدی، پرداخت در
                            محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های
                            معتبر جهان، به بزرگ‌ترین فروشگاه
                            اینترنتی ایران تبدیل شود. به محض ورود به تاپ کالا با یک سایت پر از کالا رو به رو
                            می‌شوید! هر آنچه که نیاز دارید و به
                            ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                        </p>
                    </div>
                    <div class="symbol col-12 col-lg-5">
                        <a href="#" target="_blank"><img src="{% static 'assets/img/symbol-01.png'%}"alt=""></a>
                        <a href="#" target="_blank"><img src="{% static 'assets/img/symbol-02.png'%}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container main-container">
                <p>
                    استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                    کلیه حقوق این سایت متعلق
                    به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer -->
</div>
<!-- colorPanel -->

<script src="{% static 'assets/js/vendor/jquery-3.4.1.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/popper.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js'%}"></script>
<!-- Plugins -->
<script src="{% static 'assets/js/vendor/bootstrap-slider.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/owl.carousel.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/owl.carousel2.thumbs.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/jquery.nicescroll.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/nouislider.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/jquery.horizontalmenu.js'%}"></script>
<script src="{% static 'assets/js/vendor/jquery-stack-menu.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/jquery.fancybox.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/countdown.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/wNumb.js'%}"></script>
<script src="{% static 'assets/js/vendor/ResizeSensor.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/theia-sticky-sidebar.min.js'%}"></script>
<!-- Main JS File -->
<script src="{% static 'assets/js/main.js'%}"></script>
{% endblock body %}
    