*{
	margin:0;
	padding:0;
}

.nav{
	background:#262626;
	z-index:2;
	display: flex;
	position:relative;
	opacity:0.95;
}

.nav ul {
	list-style: none;
}

.nav ul li a{
	display:block;
	color:aliceblue;
	text-decoration:none;
}

.nav ul li{
	background:#262626;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float:left;
	color:#fff;
	font-size: 14px;
	position:relative;
	font-family: sans-serif;
}

.nav ul li:hover{
	background:#9bc53d;
	z-index:2;
}

.nav ul ul{
	display:none;
}

.nav ul li:hover > ul {
	display: block;
}

.nav ul ul ul:hover >a {
	display:block;
}

.nav ul ul ul{
	margin-left: 100px;
	top:0;
	position:absolute;
}





